body {
  background-color: pink;
  text-align: center;
}
h1 {
  color: white;
}
h1:hover {
  color: black;
}
h2 {
  color: white;
}
h3 {
  color: black;
}
h4 {
  color: black;
}
h6 {
  color: white;
}
