@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&family=Zilla+Slab:ital,wght@1,500&display=swap");
h3 {
  font-family: "Zilla Slab";
  font-size: 2em;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
  text-align: left;
  color: var(--paragraph-color-on-color);
  background-color: rgba(0, 0, 0, 0.3);
  /* opacity: 0.5; */
  /* padding: 0%; */
}
.detail {
  padding: 5px 20px;
  background: white;
  color: #001d3d;
  box-shadow: -30px 30px 20px rgba(10, 44, 55, 0.5);
  border: solid #e5e5e5;
}
h2 {
  color: #6f7364;
}
p {
  font-family: cursive;
}
h1 {
  text-align: center;
  color: #ef233c;
}
.letter {
  color: black;
}
.schedule {
  display: grid;
  justify-content: center;
  /* background-color: none; */
  grid-row: 2;
  z-index: 1;
  grid-column: 2/5;
  /* background-color: rgba(111, 115, 100, 0.3); */
  /* margin-top: -600px; */
}
#background {
  width: 600px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: black;
  box-shadow: -30px 30px 20px rgba(212, 242, 219, 0.2);
  border-radius: 15px;
  /* margin-top: -300px; */
  z-index: 1;
  /* text-align: center; */
  /* height: 725px; */
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); */
  background-color: white;
  text-align: center;
}
.button:hover {
  background: #5e6269;
  /* border-color: #001d3d; */
}
.button {
  padding: 5px 20px;
  background: lightgray;
  color: #ef233c;

  border: solid #e5e5e5;
}
body {
  margin: 0;
}
.box {
  padding: 5px 20px;
  background: white;
  color: #001d3d;

  border: solid #e5e5e5;
}
.detail:hover {
  border-color: #001d3d;
  transition: 1s;
}
/* #background:hover {
  border-color: #001d3d;
  transition: 1s;
}
#background:focus {
  border-color: #52b788;
} */
.detail:focus {
  border-color: #52b788;
}
.box:hover {
  border-color: #001d3d;
  transition: 1s;
}
.box:focus {
  border-color: #52b788;
  /* background: ; */
}
footer {
  background-color: #5e6269;
  text-align: left;
  font-family: "slab";
  /* margin-top: 300px; */
  padding: 25px 50px;
  /* text-decoration: none; */
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
}
footer h3 {
  color: black;
}
.social {
  text-align: left;
  text-decoration: none;
  display: flex;
}
.social img {
  width: 50px;
}
html {
  max-width: 1600px;
}
footer .social img {
  padding-top: 15px;
}
nav {
  display: flex;
  justify-content: space-around;
  /* opacity: 0.5; */
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#herobox {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #d4f2db;
  padding: 35px;
}
.logo {
  width: 50px;
  height: 50px;
}
#frontimg {
  width: 100%;
  height: 100%;
  /* height: 75%; */
}
footer h3,
a {
  color: #001d3d;
}
#content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-row: 1/5;
  /* height: 100%; */
  margin-top: -100px;
  grid-column: 1/6;
  max-width: 100%;
  z-index: -1;
}
#note {
  margin: 0px;
  padding: 100px;
  background-color: white;
}
@media screen and (max-width: 900px) {
  h3 {
    font-family: "Zilla Slab";
    font-size: 2em;
  }
  header {
    display: grid;
    grid-template-columns: 150px auto;
    text-align: left;
    color: var(--paragraph-color-on-color);
    background-color: rgba(0, 0, 0, 0.3);
    /* opacity: 0.5; */
    /* padding: 0%; */
  }
  .detail {
    padding: 5px 20px;
    background: white;
    color: #001d3d;
    box-shadow: -30px 30px 20px rgba(10, 44, 55, 0.5);
    border: solid #e5e5e5;
  }
  h2 {
    color: #6f7364;
  }
  p {
    font-family: cursive;
  }
  h1 {
    text-align: center;
    color: #ef233c;
  }
  .letter {
    color: black;
  }
  .schedule {
    display: grid;
    justify-content: center;
    /* background-color: none; */
    grid-row: 2;
    z-index: 1;
    grid-column: 2/5;
    /* background-color: rgba(111, 115, 100, 0.3); */
    /* margin-top: -600px; */
  }
  #background {
    width: 600px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: black;
    box-shadow: -30px 30px 20px rgba(212, 242, 219, 0.2);
    border-radius: 15px;
    /* margin-top: -300px; */
    z-index: 1;
    /* text-align: center; */
    /* height: 725px; */
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    background-color: white;
    text-align: center;
  }
  .button:hover {
    background: #5e6269;
    /* border-color: #001d3d; */
  }
  .button {
    padding: 5px 20px;
    background: lightgray;
    color: #ef233c;

    border: solid #e5e5e5;
  }
  body {
    margin: 0;
  }
  .box {
    padding: 5px 20px;
    background: white;
    color: #001d3d;

    border: solid #e5e5e5;
  }
  .detail:hover {
    border-color: #001d3d;
    transition: 1s;
  }
  /* #background:hover {
    border-color: #001d3d;
    transition: 1s;
  }
  #background:focus {
    border-color: #52b788;
  } */
  .detail:focus {
    border-color: #52b788;
  }
  .box:hover {
    border-color: #001d3d;
    transition: 1s;
  }
  .box:focus {
    border-color: #52b788;
    /* background: ; */
  }
  footer {
    background-color: #5e6269;
    text-align: left;
    font-family: "slab";
    /* margin-top: 300px; */
    padding: 25px 50px;
    /* text-decoration: none; */
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
  }
  footer h3 {
    color: black;
  }
  .social {
    text-align: left;
    text-decoration: none;
    display: flex;
  }
  .social img {
    width: 50px;
  }
  html {
    max-width: 1600px;
  }
  footer .social img {
    padding-top: 15px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    /* opacity: 0.5; */
  }
  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
  }
  #herobox {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
  }
  nav a {
    text-decoration: none;
    color: #d4f2db;
    padding: 35px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  #frontimg {
    width: 100%;
    height: 100%;
    /* height: 75%; */
  }
  footer h3,
  a {
    color: #001d3d;
  }
  #content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
  }
  #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row: 1/5;
    /* height: 100%; */
    margin-top: -100px;
    grid-column: 1/6;
    max-width: 100%;
    z-index: -1;
  }
  #note {
    margin: 0px;
    padding: 100px;
    background-color: white;
  }
}
