body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: #d4f2db;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: #d4f2db;
}

header {
  padding: 1em;
  text-align: left;
  color: var(--paragraph-color-on-color);
  background-color: #5e6269;
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.primary {
  background-color: #1a1f28;
}
.secondary {
  background-color: #001d3d;
}
.accent1 {
  background-color: #d4f2db;
}
.accent2 {
  background-color: var(--accent2-color);
}
.thrill {
  text-align: left;
}
h2 {
  background-color: #5e6269;
}
p {
  background-color: #5e6269;
}
footer {
  background-color: #5e6269;
  text-align: left;
}
.social {
  text-align: left;
}
h4 {
  color: #1a1f28;
}
html {
  max-width: 1600px;
}
