@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&family=Zilla+Slab:ital,wght@1,500&display=swap");

body {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  background-color: #d4f2db;
  padding: 0;
}
.home-title {
  margin-top: 10px;
}
#logo_link {
  text-align: left;
  padding-top: 5px;
}
nav a {
  text-decoration: none;
  color: #d4f2db;
  padding: 35px;
}
a {
  margin: 50px;
}
img {
  max-width: 1600px;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab";
  font-size: 2em;
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: #d4f2db;
  padding: 5px;
}

header {
  text-align: left;
  color: var(--paragraph-color-on-color);
  background-color: #5e6269;
  padding: 0%;
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.primary {
  background-color: #1a1f28;
}
.secondary {
  background-color: #001d3d;
}
.accent1 {
  background-color: #d4f2db;
}
.accent2 {
  background-color: var(--accent2-color);
}
.thrill {
  text-align: left;
}
h2 {
  background-color: #5e6269;
}
p {
  background-color: #5e6269;
}
footer {
  background-color: #5e6269;
  text-align: left;
  font-family: "slab";
  margin-top: 200px;
}
.social {
  text-align: left;
}
h4 {
  color: #1a1f28;
}
html {
  max-width: 1600px;
}
.join {
  margin-top: 50px;
  padding: 15px 30px;
  background-color: #001d3d;
  color: black;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  border-radius: 5px;
}
.joinus {
  text-decoration: none;
  background-color: #d4f2db;
  border-radius: 5px;
  padding: 15px 30px;
}
.book {
  background-color: #001d3d;
  color: #d4f2db;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.icon {
  padding-top: 10px;
}
footer .social img {
  padding-top: 15px;
}
.rivers-card {
  margin: 200px 0;
}
.camping-card {
  margin: 200px 0;
}
.rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #001d3d;
}
main section img {
  box-sizing: border-box;
}
